torch>=1.8.0
flask>=2.1.3
Werkzeug==2.0.3
transformers[torch]>=4.0.0
scikit-learn>=1.1.1
imbalanced-learn>=0.8.0
pandas>=1.2.0
shap>=0.38.1
numpy==1.26.4
optuna==2.9.1
pyarrow
fastparquet
accelerate>=0.26.0